@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.container{
    max-width: 1000px;
    margin:0 auto;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: whitesmoke;
    border-radius: 5px;
}

.cabecalho{
    height: 55px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
    background-color: whitesmoke;
    max-width: 1000px;
    margin:0 auto;
    border-radius: 5px;
}
.logo{
    width: 50px;
    height: 50px;
}
.boxcabecalho{
    width: 300px;
    display: flex;
    height: 30px;
    font-size: 30px;
    color: rgb(3, 3, 34);
}
.contato{
    width: 130px;
    height: 40px;
    border-radius: 10px;
    font-size: 17px;
    border: solid rgb(3, 3, 34);
   
}
.contato:hover{
    border: 2px rgb(3, 3, 34);
    background-color: rgb(3, 3, 34);
    color:whitesmoke;
}
.foto{
    height: 250px;
    width: 220px;
    border-radius: 120px;
    margin-top: 20px; 
    border: solid rgb(3, 3, 34);
    
    
}
.nome{
    font-size: 40px;
    color: rgb(3, 3, 34);
}
.titulo{
    margin-left: 100px;
    opacity: 0.8;
}
.sobre{
    display: block;
    width: 1000px;
    margin: 50px 0 0 110px ;
    line-height: 2px;
    border-bottom: solid rgb(3, 3, 34);
    color: rgb(3, 3, 34);
}
.texto {
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
    padding-left: 110px;
}
.projetos {
    height: 45px;
    width: 300px;
    display: block;
    font-size: 20px;
    background-color: whitesmoke;
    border-radius: 15px;
    margin-top: 80px;
    margin-bottom:80px;
}
.projetos:hover{
    border: 2px rgb(3, 3, 34);
    background-color: rgb(3, 3, 34);
    color: whitesmoke;
}
main{background-color: rgb(3, 3, 34);}